:root {
    --purple-400: #C084FC;
    --ant-default: #d9d9d9;
  }

.custom-select{
    border-radius: 100px !important;
    border: 1px solid var(--ant-default);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
 
  &:hover {
    border-color: var(--purple-400) !important;
  }
}
