.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bg-transparent;
  padding: 6px 30px;
}

.navbar-left .logo {
  font-size: 24px; /* Larger font size for SiamSavvy */
  font-weight: bold;

  text-decoration: none;
}

.navbar-center ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-center li {
  margin: 0 30px;
}

.navbar-center a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}

.navbar-center a:hover {
  
  border-radius: 10%;
}

.navbar-right .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  top: 55px;
  right: 15px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  z-index: 1000;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 3px 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 4px 12px;
}

.dropdown-menu a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
  background-color: #f9f9f9;
  justify-content: space-between;
  align-items: center;
}

.controls-right {
  margin-left: auto;
}

/* Styling for the state section */
.state {
  margin: 10px 0;
  font-family: monospace;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
}

.state-title {
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
}

/* Styling for the Quill editor */
.ql-container {
  min-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
}

.ql-editor {
  min-height: 100px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}


.quil-content h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.quil-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.quil-content p {
  font-size: 1rem;
  line-height: 1.5;
}

.quil-content ul,
.quil-content ol {
  font-size: 1rem;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

.quil-content li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.quil-content ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.quil-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.quil-content .ql-font-serif {
  font-family: "Times New Roman", Times, serif !important;
}

.quil-content .ql-font-monospace {
  font-family: "Courier New", Courier, monospace !important;
}

.quil-content .ql-align-center {
  text-align: center !important;
}

.quil-content .ql-align-right {
  text-align: right !important;
}

.quil-content .ql-align-left {
  text-align: left !important;
}

.quil-content strong {
  font-weight: bold;
}

.quil-content u {
  text-decoration: underline;
}

.quil-content em {
  font-style: italic;
}
